
{% for c in trunk_ports %}
    {% if c.group is defined %}
      interface port-channel {{ c.group }}
          switchport trunk allowed vlan {{ allowed_vlans }}
          switchport trunk native vlan {{ native }}
          switchport trunk allowed vlan remove 1
    {% endif %}
{% endfor %}
