{% for c in vlans %} {% if c.id|int < 254 %}
    interface vlan{{ c.id }}
      ip address {{ svi_net }}.{{ c.id }}.{{ svi_id }} 255.255.255.0
      delay 150
      bandwidth 10000

      {% if redundancy_protocol == 'glbp' %}
      glbp {{ c.id }} ip {{ svi_net }}.{{ c.id }}.{{ glbp_vip }}
      glbp {{ c.id }} load-balancing round-robin

      {% if ansible_hostname == 'dist-sw01' %}
      glbp {{ c.id }} priority 150
      glbp {{ c.id }} preempt delay minimum 60
      {% endif %}
      {% endif %}

      no shutdown
{% endif %} {% endfor %}
