{% for c in vlans_active %}
  {% if c.vlan_id|int not in vlans_var and c.vlan_id|int > 1 and c.vlan_id|int <= 1000  %}
      no vlan {{ c.vlan_id }}
  {% endif %}
{% endfor %}

{% if svi_id is defined %} {% for c in svi_list %}
    {% if c.interface|replace('Vlan', '')|int >= 2 and c.interface|replace('Vlan', '')|int not in vlans_var %}
      no interface {{ c.interface }}
    {% endif %}
{% endfor %} {% endif %}
