
{# Configure inside and outside interface for nat #}
{% for c in interfaces if c.ip_nat is defined %}
    interface {{ c.interface }}
      ip nat {{ c.ip_nat }}
{% endfor %}

{# configure access-list that allow network to use nat #}
{% for c in interfaces if c.ip_acc is defined %}
ip access-list standard {{ c.ip_acc }}
    {% for i in diff if diff != [] %}
        no {{ i }}
    {% endfor %}
    {% for i in nat_acl %}
      {{ i.seq_no }} {{ i.line }}
    {% endfor %}
{% endfor %}

{# configure global nat #}
{% for c in interfaces if c.ip_acc is defined %}
    ip nat inside source list {{ c.ip_acc }} interface E1/0
{% endfor %}
