ip access-list standard {{ nat_acl_name }}
{% for c in diff if diff != [] %}
    no {{ c }}
{% endfor %}
{% for c in nat_net %}
    {{ c.seq_no }} {{ c.line }}
{% endfor %}

{% for c in interfaces if c.ip_nat is defined %}
    interface {{ c.interface }}
      ip nat {{ c.ip_nat }}
    {% if c.ip_nat == 'outside' %}
    ip nat inside source list {{ nat_acl_name }} interface {{ c.interface }}
    {% endif %}
{% endfor %}
